<!DOCTYPE html>
<html lang="en" ng-app="GameRental">
<head>
    <title>Admin</title>


</head>

<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1>Admin</h1>

            <h2 class="sub-header">Users</h2>

            <div>
                <table class="table table-striped table-bordered table-responsive">
                    <thead>
                    <tr>

                        <th><i class="glyphicon glyphicon-triangle-bottom"></i>Username</th>
                        <th><i class="glyphicon glyphicon-triangle-bottom"></i>Password</th>
                        <th><i class="glyphicon glyphicon-triangle-bottom"></i>Role</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="text" placeholder="username"></td>
                        <td><input type="text" placeholder="password"></td>
                        <td><input type="text" placeholder="role1,role2"></td>
                        <td><i class="glyphicon glyphicon-plus"></i> <i class="glyphicon glyphicon-ok"></i></td>

                    </tr>
                    <tr>
                        <td>Alice</td>
                        <td>Alice </td>
                        <td>Free User</td>
                        <td><i class="glyphicon glyphicon-remove"></i> <i class="glyphicon glyphicon-pencil"></i></td>

                    </tr>
                    <tr>
                        <td>Bob</td>
                        <td>Bob</td>
                        <td>Free User</td>
                        <td><i class="glyphicon glyphicon-remove"></i> <i class="glyphicon glyphicon-pencil"></i></td>

                    </tr>
                    <tr>
                        <td>Charlie</td>
                        <td>Charlie</td>
                        <td>Free User</td>
                        <td><i class="glyphicon glyphicon-remove"></i> <i class="glyphicon glyphicon-pencil"></i></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>