<!DOCTYPE html>
<html lang="en" ng-app="GameRental">

<body>
<div class>
<div class="container-login col-sm-6 col-md-6" ng-controller="HomeController">
    <h1 class="page-header">Login</h1>
        <div class="row col-sm-12 col-md-offset-1">

            <form class="form-horizontal col-sm-12 login">

                <div class="form-group">
                    <label for="userName" class="label-control col-sm-6 col-md-2">Username</label>

                    <div class="col-sm-6 col-md-6">
                        <input ng-model="username" type="text" class="form-control"
                               id="userName" placeholder="Username">


                    </div>

                </div>

                <div class="form-group">
                    <label for="inputPassword" class="col-sm-6 col-md-2">Password</label>

                    <div class="col-sm-6 ">
                        <input ng-model="password" type="password" class="form-control"
                               id="inputPassword" placeholder="password">

                    </div>

                </div>

                <div class="col-md-offset-2">
                    <div class="col-sm-6 col-md-7">
                        <a href="#/forgotpassword">Forgot Password</a> |
                        <a href="#/forgotpassword">Forgot Username</a>

                        <button ng-click="login()" class="btn btn-primary  col-sm-6">
                            Login
                        </button>

                        <button ng-click="goToRegister()" class="btn btn-info  col-sm-6">
                            Register
                        </button>

                    </div>
                </div>
            </form>

        </div>

</div>
    <div class="container-image col-md-offset-1 col-md-5 hidden-sm hidden-xs">
    </div>

</div>
</body>
</html>