<!DOCTYPE html>
<html lang="en" ng-app="GameRental">
<head>
    <meta charset="UTF-8">
    <title>Friends</title>
</head>
<body>
<div class="container-fluid" ng-controller="FollowerController">
    <div class="row">
            <h1 class="page-header">Following</h1>

        <div>
            <ul class="nav nav-tabs nav-justified">
                <li ><a href="#/profile">Profile</a></li>
                <li > <a href="#/mygames">Wish List</a></li>
                <li class="active"><a href="#/following">People you Follow</a></li>
                <li ng-hide="user.membership == 'free'"><a href="#/canRent">List Games For Rent</a></li>
                <li ng-hide="user.membership == 'free'"><a href="#/gameRented">Games You Rented</a></li>
                <li ng-hide="user.membership == 'free'"><a href="#/rentGames">Rent Games</a></li>
                <li><a href="#/reviews">Your Reviews</a></li>
            </ul>
        </div>

        <div class="container-fluid">
        <a class="btn btn-info pull-right" href="#/searchUsers">Search Users</a>
        </div>
        <div class="panel panel-default" ng-repeat="friend in friends">
            <div class="panel-body">

                <div class="media">
                    <div class="media-left media-middle">
                        <img height="100px" ng-src="images/sampleGameIcon.png"/>
                    </div>
                    <div class="media-body">

                        <h4 class="media-heading">
                            <a href="#/friendProfile/{{friend.following_username}}">
                            {{friend.following_firstname + " " + following_lastname}}
                            </a>
                        </h4>
                        <div class="pull-right">
                            <i ng-click="removeFriend($index)"
                               class="glyphicon glyphicon-remove-sign">
                                Remove
                            </i>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
</body>
</html>