<!DOCTYPE html>
<html lang="en" ng-app="GameRental">
<head>
    <meta charset="UTF-8">
    <title>Friends</title>
</head>
<body>
<div class="container-fluid" ng-controller="FollowerController">
    <div class="row">
            <h1 class="page-header">Following</h1>

            <a class="btn btn-info pull-right" href="#/searchUsers">Search Users</a>
            <table class="table table-bordered table-striped table-responsive">
                <thead>
                <tr>
                    <td><i class="glyphicon glyphicon-triangle-bottom"></i> Friends You Follow</td>
                    <td>Action</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="friend in friends">
                    <td>{{friend.following_firstname}}</td>
                    <td>
                        <button ng-click="removeFriend($index)" class="btn btn-danger">Unfollow</button>

                        <button ng-click="showStats($index)" class="btn btn-info">User Stats</button>
                    </td>

                </tr>

                </tbody>
            </table>

    </div>
</div>
</body>
</html>