<div class="container-fluid">
    <div class="jumbotron" >
        <h1>{{profile.username}}</h1>

        <div class="row">
            <div class="text-muted text-right">

                <p>
                    <a ng-click="followFriendUsingProfile()" ng-hide="user==null || flag"
                       class="btn btn-lg btn-success">

                        Follow
                    <i class="glyphicon glyphicon-plus-sign">

                    </i>
                    </a>
                </p>

                <p>
                    <a ng-click="removeFriendUsingProfile()" ng-hide="user==null || !flag"
                       class="btn btn-lg btn-danger">

                        UnFollow
                        <i class="glyphicon glyphicon-minus-sign">

                        </i>
                    </a>
                </p>
            </div>

        </div>


        <div>
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#">{{profile.username}}'s Games</a></li>
                <li>
                    <a class="white" href="#/friendReviews/{{profile.username}}">
                    {{profile.username}}'s Reviews
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <table class="table table-bordered table-striped table-responsive">
                <thead>
                <tr>
                    <td><i class="glyphicon glyphicon-triangle-bottom"></i>Name</td>

                </tr>
                </thead>
                <tbody>


                <tr ng-repeat="game in games">
                    <td><a href="#/detail/{{game.gameId}}">{{game.tittle}}</a></td>
                    <td><a href="#/detail/{{game.gameId}}">{{game.platforms}}</a></td>
                </tr>

                </tbody>
            </table>
        </div>


    </div>
</div>