<!DOCTYPE html>
<html lang="en">
<head>

</head>

<body>
<!-- Pricing Table Section -->
<section id="pricing-table">
    <div class="container" ng-controller="RegisterController">
        <div class="row">
            <div class="pricing">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="pricing-table">
                        <div class="pricing-header">
                            <p class="pricing-title">Free Plan</p>
                            <p class="pricing-rate"><sup>$</sup> 0 <span>/Mo.</span></p>
                            <button class="btn btn-primary" ng-click="register('free')">Get Started</button>
                        </div>

                        <div class="pricing-list">
                            <ul>
                                <li><i class="fa fa-envelope"></i>Search Any Game</li>
                                <li><i class="fa fa-signal"></i><span>Rent 1</span> Game</li>
                                <li><i class="fa fa-user"></i><span>Buy 1</span> Game</li>
                                <li><i class="fa fa-user"></i><span>No</span> Points</li>
                                <li><i class="fa fa-smile-o"></i><span>First Rent Game On Us</span></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="pricing-table">
                        <div class="pricing-header">
                            <p class="pricing-title">Business Plan</p>
                            <p class="pricing-rate"><sup>$</sup> 5 <span>/Mo.</span></p>
                            <button class="btn btn-primary" ng-click="register('regular')">And Get Free Month</button>
                        </div>

                        <div class="pricing-list">
                            <ul>
                                <li><i class="fa fa-envelope"></i>Search Any Game</li>
                                <li><i class="fa fa-signal"></i><span>Rent 1</span> Game /Mo.</li>
                                <li><i class="fa fa-user"></i><span>Sell/Buy 1</span> Game /Mo.</li>
                                <li><i class="fa fa-user"></i><span>Earn</span> Points</li>
                                <li><i class="fa fa-smile-o"></i>First Rent Game On Us</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="pricing-table">
                        <div class="pricing-header">
                            <p class="pricing-title">Extended Plan</p>
                            <p class="pricing-rate"><sup>$</sup> 10 <span>/Mo.</span></p>
                            <button class="btn btn-primary" ng-click="register('premium')">And Get Free Month</button>
                        </div>

                        <div class="pricing-list">
                            <ul>
                                <li><i class="fa fa-envelope"></i>Search Any Game</li>
                                <li><i class="fa fa-signal"></i><span> Rent unlimited</span> Games</li>
                                <li><i class="fa fa-user"></i><span>Buy/Sell unlimited</span> Games</li>
                                <li><i class="fa fa-user"></i><span>Earn</span> Points</li>
                                <li><i class="fa fa-smile-o"></i>First Rent Game On Us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Pricing Table Section End -->
</body>
</html>