<!DOCTYPE html>
<html lang="en" ng-app="FormBuilderApp">
<head>

    <title>Forms</title>

</head>

<body>


<div class="container-fluid" ng-controller="FormController">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Forms</h1>

            <div>
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#/forms">Forms</a></li>
                    <li><a href="#/form-fields">Fields</a></li>
                </ul>
            </div>
            <div>
                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <td><i class="glyphicon glyphicon-triangle-bottom"></i> Form Name</td>
                        <td>Action</td>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td><input ng-model="formName" type="text" placeholder="name"></td>
                        <td><i ng-click="addForm()" class="glyphicon glyphicon-plus"></i> <i ng-click="updateForm()" class="glyphicon glyphicon-ok"></i></td>

                    </tr>
                    <tr ng-repeat="form in forms">
                        <td>{{form.title}}</td>
                        <td><i ng-click="deleteForm($index)" class="glyphicon glyphicon-remove"></i>
                            <i ng-click="selectForm($index)" class="glyphicon glyphicon-pencil"></i></td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>