<!DOCTYPE html>
<html lang="en" ng-app="GameRental">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid" ng-controller="GameController">
            <h1 class="page-header">Wish List</h1>

            <div>
                <ul class="nav nav-tabs nav-justified">
                    <li ><a href="#/profile">Profile</a></li>
                    <li class="active"> <a href="#/mygames">Wish List</a></li>
                    <li><a href="#/following">People you Follow</a></li>
                    <li><a href="#/canRent">List Games For Rent</a></li>
                    <li><a href="#/gameRented">Games You Rented</a></li>
                    <li><a href="#/rentGames">Rent Games</a></li>
                </ul>
            </div>


    <div class="panel panel-default" ng-repeat="game in games">
        <div class="panel-body">

            <div class="media">
                <div class="media-left media-middle">
                    <img height="100px" ng-src="images/sampleGameIcon.png"/>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="#/detail/{{game.gameId}}">{{game.tittle}}</a></h4>
                    <p>{{game.deck}}</p>
                    <p ng-if="{{game.platforms}}">Platforms : {{game.platforms}}</p>
                    <div class="pull-right">
                        <i ng-click="removeGame($index)"
                           class="glyphicon glyphicon-remove-sign">
                          Remove
                        </i>
                        <i ng-click="selectGame($index)"
                           class="glyphicon glyphicon-tags">
                            Rent
                        </i>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>