<!DOCTYPE html>
<html lang="en" ng-app="GameRental">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid" ng-controller="GameController">
    <div class="row">
        <div class="container">
            <h1 class="page-header">Wish List</h1>


            <table class="table table-bordered table-striped table-responsive">
                <thead>
                <tr>
                    <td><i class="glyphicon glyphicon-triangle-bottom"></i> Game Name</td>
                    <td>Action</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="game in games">
                    <td>{{game.tittle}}</td>
                    <td>
                        <button ng-click="removeGame($index)" class="btn btn-danger">Remove</button>

                        <button ng-show="user.membership == 'regular' ||
                                         user.membership == 'premium'"
                                ng-click="selectGame($index)" class="btn btn-info">Rent</button>
                    </td>

                </tr>

                </tbody>
            </table>
            </div>

    </div>
</div>
</body>
</html>