<!DOCTYPE html>
<html lang="en" ng-app="FormBuilderApp">

<body>
<div class="col-sm-2 col-md-2 sidebar">
    <nav ng-controller="MainController">
        <ul class="nav nav-sidebar">
        <li><a href="#/home"  class="btn" ng-class="{'btn-primary' : $location.url() == '/home'}">Home</a></li>
        <li><a href="#/profile" class="btn" ng-class="{'btn-primary' : $location.url() == '/profile'}">Profile</a></li>
        <li><a href="#/forms" class="btn" ng-class="{'btn-primary' : $location.url() == '/forms'}">Forms</a></li>
        <li><a href="#/admin"   class="btn" ng-class="{'btn-primary' : $location.url() == '/admin'}">Admin</a></li>
        </ul>
    </nav>
</div>
</body>
</html>