<!DOCTYPE html>
<html lang="en" ng-app="FormBuilderApp">

<body>
<div class="col-sm-2 col-md-2 sidebar">
    <nav>
        <ul class="nav nav-sidebar">
        <li><a href="#/home"  ng-class="{'active' : $location.url() == '/home'}">Home</a></li>
        <li><a href="#/profile" ng-class="{'active' : $location.url() == '/profile'}">Profile</a></li>
        <li><a href="#/forms" ng-class="{'active' : $location.url() == '/forms'}">Forms</a></li>
        <li><a href="#/admin"  ng-class="{'active' : $location.url() == '/admin'}">Admin</a></li>
        </ul>
    </nav>
</div>
</body>
</html>