<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
<div class="container-fluid" ng-controller="DetailController">
    <h2>{{game.results.name}}</h2>

    <img ng-src="{{game.results.image.icon_url}}" height="300px" class="pull-left"/>

    <p>
        {{game.results.description}}
    </p>

    <h3>Platforms</h3>

    <ul>
        <li ng-repeat="plat in game.results.platforms">
            {{plat.abbreviation}}
        </li>
    </ul>

    <a href="#/reviews" button class="btn btn-info"

</div>
</body>
</html>