<!DOCTYPE html>
<html lang="en" ng-app="FormBuilderApp">
<head>
    <title>Profile</title>
</head>

<body>

<div class="container-fluid" ng-controller="ProfileController">
    <div class="row">
        <div class="col-sm-2 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="../home/home.html">Home</a></li>
                <li class="active"><a href="./profile.html">Profile</a></li>
                <li><a href="../admin/admin.html">Admin</a></li>
                <li><a href="../forms/forms.html">Forms</a></li>
            </ul>
        </div>
        <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-2 main">
            <h1>Profile</h1>
            <form class="form-horizontal">

                <div class="form-group">
                    <label for="userName" class="label-control col-sm-3 col-md-4 text-right">Username</label>
                    <div class="col-sm-6 col-md-6">
                        <input ng-model="username" class="form-control" id="userName" placeholder="Username">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword" class="col-sm-3 col-md-4 text-right">Password</label>
                    <div class="col-sm-6 col-md-6">
                        <input ng-model="password" class="form-control col-sm-6 col-md-6" id="inputPassword" placeholder="password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstName" class="col-sm-3 col-md-4 text-right">First Name</label>
                    <div class="col-sm-6 col-md-6">
                        <input ng-model="firstname" class="form-control col-sm-6 col-md-6" id="firstName" placeholder="First Name">
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastName" class="col-sm-3 col-md-4 text-right">Last Name</label>
                    <div class="col-sm-6 col-md-6">
                        <input ng-model="lastname" class="form-control col-sm-6 col-md-6" id="lastName" placeholder="Last Name">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail1" class="col-sm-3 col-md-4 text-right">Email address</label>
                    <div class="col-sm-6 col-md-6">
                        <input ng-model="email" class="form-control col-sm-6 col-md-6" id="inputEmail1" placeholder="Email">
                    </div>
                </div>

                <div>
                    <div class="col-sm-3 col-md-4"></div>
                    <button  ng-click="update(user)"
                       class="btn btn-primary  col-sm-6  col-md-6">
                        Update
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>