<!DOCTYPE html>
<html lang="en" ng-app="GameRental">
<head>
    <meta charset="UTF-8">
    <title>Pricing</title>
</head>
<body>
<div class="container-fluid" ng-controller="RegisterController">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Pricing</h1>

            <div>
                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <td>Features</td>
                        <td>Free</td>
                        <td>Regular</td>
                        <td>Premium</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Search Games</td>
                        <td><i class="glyphicon glyphicon-ok"></i></td>
                        <td><i class="glyphicon glyphicon-ok"></i></td>
                        <td><i class="glyphicon glyphicon-ok"></i></td>
                    </tr>
                    <tr>
                        <td>Read Reviews and watch Videos</td>
                        <td><i class="glyphicon glyphicon-ok"></i></td>
                        <td><i class="glyphicon glyphicon-ok"></i></td>
                        <td><i class="glyphicon glyphicon-ok"></i></td>
                    </tr>
                    <tr>
                        <td>Rent Games</td>
                        <td><i class="glyphicon glyphicon-remove"></i></td>
                        <td><i class="glyphicon glyphicon-ok"></i></td>
                        <td><i class="glyphicon glyphicon-ok"></i></td>
                    </tr>
                    <tr>
                        <td>Buy Games</td>
                        <td><i class="glyphicon glyphicon-remove"></i></td>
                        <td><i class="glyphicon glyphicon-ok"></i></td>
                        <td><i class="glyphicon glyphicon-ok"></i></td>
                    </tr>
                    <tr>
                        <td>Ear Coins</td>
                        <td><i class="glyphicon glyphicon-remove"></i></td>
                        <td><i class="glyphicon glyphicon-remove"></i></td>
                        <td><i class="glyphicon glyphicon-ok"></i></td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>$0.00</td>
                        <td>$5.00/mo</td>
                        <td>$10.00/mo</td>
                    </tr>
                    <tr>
                        <td>Select</td>
                        <td><i ng-click="register()" class="glyphicon glyphicon-ok"></i></td>
                        <td><i ng-click="register()" class="glyphicon glyphicon-ok"></i></td>
                        <td><i ng-click="register()" class="glyphicon glyphicon-ok"></i></td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>