<!DOCTYPE html>
<html lang="en" ng-app="GameRental">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="container">
            <h1 class="page-header">Wish List</h1>


                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <td><i class="glyphicon glyphicon-triangle-bottom"></i> Game Name</td>
                        <td><i class="glyphicon glyphicon-triangle-bottom"></i> Game Platform</td>
                        <td><i class="glyphicon glyphicon-triangle-bottom"></i> Game Year</td>
                        <td><i class="glyphicon glyphicon-triangle-bottom"></i> Ratings</td>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>Fifa 16</td>
                        <td>Ps4</td>
                        <td>2016</td>
                        <td>3.5</td>
                    </tr>

                    <tr>
                        <td>Fifa 15</td>
                        <td>Ps3</td>
                        <td>2015</td>
                        <td>4.5</td>
                    </tr>

                    <tr>
                        <td>Fifa 14</td>
                        <td>PC</td>
                        <td>2014</td>
                        <td>3.8</td>
                    </tr>

                    </tbody>
                </table>
            </div>

    </div>
</div>
</body>
</html>