<!DOCTYPE html>
<html lang="en" ng-app="GameRental">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid" ng-controller="GameController">
    <div class="row">
        <div class="container">
            <h1 class="page-header">Wish List</h1>


            <table class="table table-bordered table-striped table-responsive">
                <thead>
                <tr>
                    <td><i class="glyphicon glyphicon-triangle-bottom"></i> Game Name</td>
                    <td>Action</td>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td><input ng-model="gameName" type="text" placeholder="Game"></td>

                    <td>
                        <button class="btn btn-primary" ng-click="addGame()">
                            Add
                        </button>

                        <button class="btn btn-info" ng-click="update()">
                            Update
                        </button>
                    </td>

                </tr>
                <tr ng-repeat="game in games">
                    <td>{{game.title}}</td>
                    <td>
                        <button ng-click="removeGame($index)" class="btn btn-danger">Remove</button>

                        <button ng-click="selectGame($index)" class="btn btn-info">Select</button>
                    </td>

                </tr>

                </tbody>
            </table>
            </div>

    </div>
</div>
</body>
</html>