<!DOCTYPE html>
<html lang="en" ng-app="GameRental">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">

            <h1 class="page-header">Wish List</h1>

            <div>
                <ul class="nav nav-tabs nav-justified">
                    <li><a href="#/mygames">PC</a></li>
                    <li><a href="#/mygames">Ps4</a></li>
                    <li><a href="#/mygames">Xbox-One</a></li>
                    <li><a href="#/mygames">Ps3</a></li>
                </ul>
            </div>
            <div>
                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <td><i class="glyphicon glyphicon-triangle-bottom"></i> Form Name</td>
                        <td>Action</td>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td><input ng-model="formName" type="text" placeholder="name"></td>
                        <td><i ng-click="addForm()" class="glyphicon glyphicon-plus"></i> <i ng-click="updateForm()" class="glyphicon glyphicon-ok"></i></td>

                    </tr>
                    <tr ng-repeat="form in forms">
                        <td>{{form.title}}</td>
                        <td><i ng-click="deleteForm($index)" class="glyphicon glyphicon-remove"></i>
                            <i ng-click="selectForm($index)" class="glyphicon glyphicon-pencil"></i></td>

                    </tr>

                    </tbody>
                </table>
            </div>

    </div>
</div>
</body>
</html>