<!DOCTYPE html>
<html lang="en" ng-app="GameRental">
<head>
    <title>Home</title>

</head>

<body>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-2 main">
            <h1>About!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.
                Duis vulputate commodo lectus, ac blandit elit tincidunt id.
                Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit,
                et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis
            </p>
        </div>
    </div>
</div>

</body>
</html>