<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
<div class="container-fluid col-md-12" ng-controller="DetailController">
    <h2>{{game.results.name}}</h2>

    <img ng-src="{{game.results.image.icon_url}}" height="250px" class="pull-left col-md-3"/>

    <div class="containe col-md-1">
    <h3>Platforms</h3>

    <ul>
        <li ng-repeat="plat in game.results.platforms">
            {{plat.abbreviation}}
        </li>
    </ul>
    </div>
    <div class="col-md-offset-5 col-md-2">

        <button ng-show="rootScope.user!=null"
                ng-click="addGame()" class="btn btn-info btn-block ">
            Save
        </button>

        <button ng-click=rent() ng-show="rootScope.user!=null && rootScope.user.membership != 'free'"
           class="btn btn-info btn-block ">
            Rent
        </button>
    </div>
</div>

<div class="container-fluid" ng-bind-html="NewDetails">
    <div class="container-fluid" ng-bind-html="NewDetails">
    <p>
        {{game.results.description}}
    </p>
    </div>
</div>
<div class="container-fluid">
    <div class="panel panel-default" ng-repeat="review in reviews">
            <div class="panel-body">
        <div class="media review" >
                <div class="media-right">

                        <p><a href="#/friendProfile/{{review.username}}">{{review.username}}</a>'s rating : {{review.rating}} stars </p>
                    "{{review.text}}"

                </div>




        </div>
                </div>
            </div>

    <p ng-hide="rootScope.user == null">
            <a data-toggle="modal" data-target="#myModal" class="btn btn-lg btn-success">
                <i class="glyphicon glyphicon-plus-sign"> Write a review !
                </i>
            </a>
    </p>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add a review !</h4>
                </div>
    <div class="modal-body">
        <div class="form-group text-center">

            <form class=" form-horizontal">


                <div class="edit-review">
                    Rating:
                </div>
                <select class="form-control-lg" ng-model="review.stars">
                    <option value="0" disabled selected>Rating</option> 
                    <option value="1">1 star</option> 
                    <option value="2">2 stars</option> 
                    <option value="3">3 stars</option> 
                    <option value="4">4 stars</option> 
                    <option value="5" aria-selected="true" selected>5 stars</option> 
                </select>




                <div>&nbsp;</div>
                <div class="edit-review">
                    Review:
                </div>
                <textarea ng-model="review.body"/>
                <div>&nbsp;</div>



                <div class="text-center">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" ng-click="addReview()" data-dismiss="modal"
                            class="btn btn-success">Save changes
                    </button>
                </div>
            </form>


        </div>
    </div>
            </div>
        </div>
</div>

</body>
</html>