<!DOCTYPE html>
<html lang="en" ng-app="GameRental">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body ng-controller="SearchController">

<div class="container">

    <form class="form-signin">
        <h2 class="form-signin-heading text-center">GameSwap</h2>

        <input type="text" ng-model="gameName" id="gameName" class="form-control" placeholder="gameName" required autofocus>

        <a class="btn btn-lg btn-primary btn-block" href="#/searchResults/{{gameName}}" type="submit">Search</a>
    </form>

</div> <!-- /container -->
</body>
</html>