<!DOCTYPE html>
<html lang="en" ng-app="GameRental">

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#/home"></a>
            <a class="navbar-brand brandname" href="#/profile">GameSwap</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" ng-controller="HeaderController">

            <ul class="nav navbar-nav navbar-right">
                <li  ng-class="{'active' : $location.url() === '/search'}">
                    <a href="#/search">
                        <i class="glyphicon glyphicon-search"></i> </a>
                </li>
                <li  ng-class="{'active' : $location.url() === '/features'}">
                    <a href="#/features">
                        Features</a>
                </li>

                <li ng-class="{'active' : $location.url() === '/login'}">
                    <a href="#/login" ng-show="rootScope.user==null"  >
                        Login
                    </a>
                </li>

                <li ng-class="{'active' : $location.url() === '/profile'}">
                    <a href="#/profile" ng-hide="rootScope.user==null"  >
                    {{rootScope.user.username}}
                </a>
                </li>

                <li ng-class="{'active' : $location.url() === '/admin'}">
                    <a href="#/admin"
                       ng-show="rootScope.user!=null && rootScope.user.roles.indexOf('admin')>=0">
                    Admin
                </a></li>

                <li class="dropdown" ng-show="rootScope.user!=null">

                    <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Options
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">

                        <li ng-show="rootScope.user.membership != 'free'
                        && rootScope.user.membership != null">
                            <a href="#/searchUsers">Search Users</a>
                        </li>

                        <li ng-show="rootScope.user.membership != 'free'
                        && rootScope.user.membership != null">
                            <a href="#/rentGames">Rent Games</a>
                        </li>

                        <li><a href="#/mygames">Wish List</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#/search">Search Games</a></li>
                        <li><a href="#/about">About Us</a></li>
                    </ul>
                </li>

                <li><a  ng-hide="rootScope.user==null" ng-click="logout()">
                    Logout
                </a></li>

            </ul>
        </div>
    </div>
</nav>
</body>
</html>