<!DOCTYPE html>
<html lang="en" ng-app="GameRental">
<head>
    <meta charset="UTF-8">
    <title>LIst OF Game To REnt</title>
</head>
<body>
<div class="container-fluid" ng-controller="RentController">
    <div class="row">
        <h1 class="page-header">List Of Games To Rent</h1>

        <div>
            <ul class="nav nav-tabs nav-justified">
                <li ><a href="#/profile">Profile</a></li>
                <li> <a href="#/mygames">Wish List</a></li>
                <li><a href="#/following">People you Follow</a></li>
                <li class="active"><a href="#/canRent">List Games For Rent</a></li>
                <li><a href="#/gameRented">Games You Rented</a></li>
                <li><a href="#/rentGames">Rent Games</a></li>
            </ul>
        </div>

        <a class="btn btn-info pull-right" href="#/addGamesForRentForms">Add Games</a>
        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
                <td><i class="glyphicon glyphicon-triangle-bottom"></i> Friends You Follow</td>
                <td>Action</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="game in availableRentGames">
                <td>{{game.tittle}}</td>
                <td>
                    <button ng-click="removeGame($index)" class="btn btn-danger">Remove</button>

                    <a href="#/addGamesForRentForms/{{game._id}}" class="btn btn-info">Edit</a>
                </td>

            </tr>

            </tbody>
        </table>

    </div>
</div>
</body>
</html>