<!DOCTYPE html>
<html lang="en" ng-app="FormBuilderApp">
<head>

    <title>Forms</title>

</head>

<body>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Forms</h1>

            <div>
                <ul class="nav nav-tabs nav-justified">
                    <li><a href="#/forms">Forms</a></li>
                    <li class="active"><a href="#/form-fields">Fields</a></li>
                </ul>

            </div>

            <div class="form-horizontal">

                <div class="form-group">
                    <label for="exampleFirstname" class="label-control">Firstname:</label>
                    <div class="form-inline">
                        <div class="col-xs-6">
                            <input type="text" class="form-control" id="exampleFirstname" placeholder="Firstname">
                        </div>
                        <div class="col-xs-offset-1 col-xs-5">

                            <i class="glyphicon glyphicon-pencil"></i>
                            <i class="glyphicon glyphicon-plus"></i>
                            <i class="glyphicon glyphicon-remove"></i>
                            <i class="glyphicon glyphicon-menu-hamburger"></i>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label for="exampleLastname" class="label-control">Lastname:</label>
                    <div class="form-inline">

                        <div class="col-xs-6">
                            <input type="text" class="form-control " id="exampleLastname" placeholder="Lastname">
                        </div>
                        <div class="col-xs-offset-1 col-xs-5">

                            <i class="glyphicon glyphicon-pencil"></i>
                            <i class="glyphicon glyphicon-plus"></i>
                            <i class="glyphicon glyphicon-remove"></i>
                            <i class="glyphicon glyphicon-menu-hamburger"></i>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Date Of Birth:</label>
                    <div class="form-inline">

                        <div class="col-xs-6">
                            <input type="date" class="form-control col-xs-6" id="exampleInputPassword1" placeholder="dob">
                        </div>
                        <div class="col-xs-offset-1 col-xs-5">

                            <i class="glyphicon glyphicon-pencil"></i>
                            <i class="glyphicon glyphicon-plus"></i>
                            <i class="glyphicon glyphicon-remove"></i>
                            <i class="glyphicon glyphicon-menu-hamburger"></i>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="gender">Gender:</label>
                    <div class="form-inline">
                        <div class="col-xs-6">

                            <select id="gender" class="form-control col-xs-6">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>

                        </div>
                        <div class="col-xs-offset-1 col-xs-5">

                            <i class="glyphicon glyphicon-pencil"></i>
                            <i class="glyphicon glyphicon-plus"></i>
                            <i class="glyphicon glyphicon-remove"></i>
                            <i class="glyphicon glyphicon-menu-hamburger"></i>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6">
                            <label>Roles:</label>
                        </div>
                        <div class="col-xs-offset-1 col-xs-5">

                            <i class="glyphicon glyphicon-pencil"></i>
                            <i class="glyphicon glyphicon-plus"></i>
                            <i class="glyphicon glyphicon-remove"></i>
                            <i class="glyphicon glyphicon-menu-hamburger"></i>
                        </div>
                    </div>

                    <div class="checkbox">

                        <label>
                            <input type="checkbox" checked> Admin
                        </label>
                    </div>
                    <div class="checkbox">

                        <label>
                            <input type="checkbox"> Student
                        </label>
                    </div>
                    <div class="checkbox">

                        <label>
                            <input type="checkbox" checked> User
                        </label>
                    </div>



                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6">

                            <label>License Agreement:</label>
                        </div>
                        <div class="col-xs-offset-1 col-xs-5">

                            <i class="glyphicon glyphicon-pencil"></i>
                            <i class="glyphicon glyphicon-plus"></i>
                            <i class="glyphicon glyphicon-remove"></i>
                            <i class="glyphicon glyphicon-menu-hamburger"></i>
                        </div>
                    </div>

                    <div class="radio">
                        <label>
                            <input type="radio" checked>Yes
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio">No
                        </label>
                    </div>


                </div>

                <div class="row"></div>
                <hr>
                <div class="form-group">

                    <label for="exampleAddNewField">Add New Field:</label>
                    <div class="form-inline">

                        <div class=" col-xs-6">
                            <select id="exampleAddNewField" class="form-control">
                                <option value="Single Line Text">Single Line Text</option>
                                <option value="Text Area">Textbox</option>
                                <option value="radio">Radio Button</option>
                                <option value="checkbox">Check Box</option>
                            </select>
                        </div>
                        <div class="col-xs-offset-1 col-xs-5">

                            <i class="glyphicon glyphicon-plus"></i>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
</div>


</body>
</html>